{% extends "base.html" %}

{% block content %}

  <h1>
    The Baguette Car editor
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Make buggy</a>
    <a href="/buggy" class="button">Show buggy</a>
    <a href="/json" class="button">Get buggy JSON</a>
  </div>

  <p>
    Use this editor to specify a racing buggy. The editor saves it in its
    little database and generates JSON data for the buggy. This is the data you
    need to supply when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.
  </p>

{% endblock %}
